@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*Varieaveis globais*/
:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #D8DFE8;
    --cor-quartenaria: #356EA9;
    --cor-branca: #ffffff;

    --fonte-primaria: 'Inter', sans-serif;
}
/*reset as configurações padrão do CSS*/
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
/*Main: parte do conteúdo*/
.decodificador {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.cabecalho {
    width: 16.66666667%; /* 240px de 1440px */
    height: 100%;
}
.cabecalho img {
    margin-left: 16.666667%; /* 40px de 240px */
    margin-top: 16.66667%; /* 40px de 1024px/240px */ 
}
/*============================================================================*/
/* ELEMENTOS DA ESQUERDA - PARTE 2 DO MAIN*/
.decodificador___elementos {
    display: flex;
    width: 83.33333333%; /* 1200px de 1440px */
    height: 100%;
}
.decodificador__elementosEsq {
   width: 60%;/* 720px de 1200px */
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.5625%;
}
/*Texto de entrada*/
.decodificador__elementosEsq__entrada {
    width: 94.44444444%;/* 680px de720px */
    height: 65.13671875%;/* 667px de 1024px */
    margin-top: 168px;/*168px de 1024px*/
    border-style: none;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2rem;
    resize: none;
    outline: 0;
}
#texto::placeholder {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2rem; 
    color: var(--cor-secundaria);  
}
/*Mensagens de aviso*/
.decodificador__elementosEsq__aviso {
    display: flex;
    gap: 0.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 0.75rem; 
    color: var(--cor-secundaria); 
}/*Propriedades do botão*/
.decodificador__elementosEsq__botoes {
    display: flex;
    gap: 1.5rem;
}
/*Botão criptografar*/
.decodificador__elementosEsq__texto {
    height: 100%;/*67px de 67px*/
    width: 45.555555555%;/*328px de 720px*/
    border: 1px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 1.5rem;
    padding: 1.34375rem 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}
.decodificador__elementosEsq__texto:hover {
    background-color: var(--cor-quartenaria);
}
/*Botão descriptografar*/
.decodificador__elementosEsq__cripto {
    height: 100%;/*67px de 67px*/
    width: 45.555555555%;/*328px de 720px*/
    border: 1px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 24px;
    padding: 1.34375rem 0;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}
.decodificador__elementosEsq__cripto:hover {
    background-color: var(--cor-primaria);
}
/*TODA A PARTE DA DIREITA*/
.decodificador__elementosDir {
    background-color: var(--cor-primaria);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*O SECTION QUE CONTÉM A CAIXA BRANCA PARA O TEXTAREA2*/
.decodificador__elementosDir__section {
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 83.3333333333%;/*400px de 480px*/
    height: 92.1875%;/*944px de 1024px*/
    border-style: hidden;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15),
                0px 2px 4px rgba(0,0,0,0.15),
                0px 4px 8px rgba(0,0,0,0.15),
                0px 8px 16px rgba(0,0,0,0.15);
    border-radius: 2rem;
    position: relative;
}
/*Mensagem de em cima do textoarea*/
.decodificador__elementosDir__detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 84%;/**/
    height: 48.5162%;
    top: 25.7415254237288%;
    position: absolute;
    z-index: 2;
}
.decodificador__elementosDir__detalhes img{
    width: 84%;
    height: 66.3755%;
}
.decodificador___elementosDir__detalhes__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    text-align: center;
}
.decodificador___elementosDir__detalhes__paragrafo {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    text-align: center;
}
/*Texto criptografado*/
.decodificador__elementosDir__saida{
    width: 84%;/*336px de 400px*/
    height: 82.73305085%;/*781px de 944px*/
    margin-top:6%;/*32px de 944px*/
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem; 
    background-color: var(--cor-branca);
    color: var(--cor-secundaria);  
    position: absolute;
    z-index: 1;
}
/*botao de copiar*/
.decodificador__elementosDir__copiar {
    height: 7.097457627%;/*67px de 944px*/
    width: 84%;/*336x de 400px*/
    position: absolute;
    top: 89.51271186440677966%;
    z-index: 2;
    border: 1px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 24px;
    padding: 1.34375rem 0;
    background-color: #ffffff;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}
.decodificador__elementosDir__cripto:hover {
    background-color: var(--cor-primaria);
}

/*===========================================================*/
/*Tablet*/
@media (max-width: 798px) {
    .cabecalho{
        margin: 6.2538333049% 0 0 6%; 
        height: 50px; 
    }
    .cabecalho img {
        margin: 0; 
    }
    .decodificador{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .decodificador___elementos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 20.44293015%;
        width: 100%;
        gap: 34px;
    }
    .decodificador__elementosEsq {
        width: 89.58333333%;
        height: 51.10732538%;
    }
    .decodificador__elementosEsq__entrada{
        width: auto;
        margin-top: 9.880749574%;
        height: 72.678%;
    }
    .decodificador__elementosDir__section {
        width: 89.58333333%;
        height: 100%;
        flex-direction: column;
        align-items:center;
    }
    .decodificador__elementosDir {
        width: 100%;
        height: 34%;
        flex-direction: column;
        justify-content: flex-end;
        align-items:center;
    }
    .decodificador__elementosDir__saida {
        width: 85%;
        height: 60%;
    }
    .decodificador__elementosDir__detalhes img{
        display: none;
    }
    .decodificador__elementosDir__detalhes {
        display: block;
    }
    .decodificador__elementosEsq__texto {
        margin-left: 2%;
    }
    /*botao de copiar*/
    .decodificador__elementosDir__copiar {
        top: 80.51271186440677966%;
    }

}
/*Smartphone*/
@media (max-width: 376px) {
    .cabecalho{
        margin: 6.2538333049% 0 0 6%; 
        height: 50px; 
    }
    .cabecalho img {
        margin: 0; 
    }
    .decodificador{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .decodificador___elementos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 20.44293015%;
        width: 100%;
        gap: 34px;
    }
    .decodificador__elementosEsq {
        width: 89.58333333%;
        height: 51.10732538%;
    }
    .decodificador__elementosEsq__entrada{
        width: auto;
        margin-top: 9.880749574%;
        height: 72.678%;
    }
    .decodificador__elementosEsq__botoes {
        flex-direction: column;
    }
    .decodificador__elementosEsq__texto {
        width: 100%;
        margin-left: 0%;
    }
    .decodificador__elementosEsq__cripto {
        width: 100%;
    }
    .decodificador__elementosDir__section {
        width: 89.58333333%;
        height: 100%;
        flex-direction: column;
        align-items:center;
    }
    .decodificador__elementosDir {
        width: 100%;
        height: 34%;
        flex-direction: column;
        justify-content: flex-end;
        align-items:center;
    }
    .decodificador__elementosDir__saida {
        width: 85%;
        height: 70%;
    }
    .decodificador__elementosDir__detalhes img{
        display: none;
    }
    .decodificador__elementosDir__detalhes {
        display: block;
    }
    /*botao de copiar*/
    .decodificador__elementosDir__copiar {
        top: 80.51271186440677966%;
    }